{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bottom_ninth/materialize/materialize.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bottom_ninth/index.css' %}" />

<div class="row">
	<div class="col s6">
<!-- 		displays all players on batting team
		that are assigned a field position -->
		<div class="royalsLineup">
			<h3>KCR Due Up</h3>

			{% if batter_list %}
				<ul>
				{% for batter in batter_list %}
					{% if batter.position %}
					<li class="5class="royalPlayer">{{ batter.name }} <a href="/bottom_ninth/{{ batter.id }}">Stats</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			{% else %}
				<p>The lineup is not assigned at this time.</p>
			{% endif %}
		</div>
	</div>
	<div class="col s6">
	<!-- displays current pitcher for team in the field -->
		<div class="giantsPitcher">
			<h3>SFG Pitcher</h3>
				<p>Placeholder</p>
		</div>
	</div>
	<!-- second row of content -->
	<div class="col s6">
		<div class="royalsBench">
		<h3>KCR Reserves</h3>

		{% if batter_list %}
			<ul>
			{% for batter in batter_list %}
				{% if not batter.position %}
				<li class="royalPlayer">{{ batter.name }} <a href="/bottom_ninth/{{ batter.id }}">Stats</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		{% else %}
			<p>There are no bench players remaining.</p>
		{% endif %}
		</div>
	</div>
</div>
